---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/islands/react/ContactForm";
---

<BaseLayout title="Contact" sideBarActiveItemID="contact">
  <div class="place-content-center w-full" style="height:80vh;">
    <div>
      <div class="text-3xl w-full font-bold mb-5">Let's build your next idea together</div>
    </div>
    <ContactForm/>
  </div>
</BaseLayout>
