---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="flex justify-between items-center mb-4">
    <div class="text-3xl font-bold">Profile</div>
    <a 
      href="https://drive.google.com/file/d/1cFYeLHRBq3zic-JvIO8XnbXPTNWFFnxY/view?usp=sharing"
      target="_blank"
    >
      <button 
        class="border-2 border-stone-900 hover:bg-stone-300 hover:text-black text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
        type="button"
      >
        Download CV
      </button>
    </a>
  </div>

  <div class="mb-10 text-justify">
    Full-Stack Developer with professional experience in both frontend and backend, working with technologies such as Node.js, Vue.js, and Symfony PHP. I also have a solid background in data science, applying Python, Pandas, and Numpy to create data-driven solutions and ETL processes. I primarily work with PostgreSQL, Docker/Podman, and Linux environments. I consider myself a fast learner who enjoys solving complex problems and building scalable systems that deliver real value.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Software Engineering"
      subtitle="September 2024 - Present (Online) | Universidad Abierta Para Adultos."
    />
    <TimeLineElement
      title="Technician in Data Science and Analitycs"
      subtitle="Instituto Tecnológico de Las Américas (ITLA) Septiembre 2020 - Agosto 2024 | Mención de honor sobresaliente."
    >
      <ul>
        <li>
          - 1st Place Winner at the ITLA Scientific Fair with AgroControl, a data analytics platform powered by IoT for real-time decision-making in agricultural production.
        </li>
        <li>
          - Team Leader of the winning project at the SDM ITLA Hackathon, developing an MVP form builder for new client onboarding at Santo Domingo Motors.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Technician in Development and Administration of Software Systems"
      subtitle="July 2018 to March 2020 at Politécnico Vicene Aquilino Santos, San Francisco de Macorís, Dominican Republic."
    >
      <ul>
        <li>
           - Developed a digital MVP for a café business with menu and table management using Vue.js and PHP.
        </li>
        <li>
          - Designed the official logo currently used by the institution.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Lead Developer"
      subtitle="Since July 2022 at Anncar Equipment Parts, Miami, United States"
    >
      Full-Stack Developer with professional experience in both frontend and backend, working with technologies such as Node.js, Vue.js, and Symfony PHP. I also have a solid background in data science, applying Python, Pandas, and Numpy to create data-driven solutions and ETL processes. I primarily work with PostgreSQL, Docker/Podman, and Linux environments. I consider myself a fast learner who enjoys solving complex problems and building scalable systems that deliver real value.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>React</li>
    <li>Vue</li>
    <li>Quasar</li>
    <li>Node</li>
    <li>Docker</li>
    <li>Php</li>
    <li>Python</li>
    <li>Postgres</li>
  </ul>
</BaseLayout>
